body {
    background: url(https://images.wallpaperscraft.ru/image/siniy_fon_sploshnoy_svetlyy_65833_2048x1152.jpg);
}

a {
    color: #fff;
}

a:trhover {
    text-decoration: none;
}
.container {
    width: 400px;
    height: 300px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 solid #3abdfd;
    border-radius: 0 0 10px 10px;
}

.container img {
    width: 120px;
    height: 120px;
    margin: -80px 5px 10px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 0 solid #3abdfd;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.dwinput {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9ff;
    cursor: pointer;
}

.dwinput:hover {
    transition: 0.5s all;
    background: #fff;
    color: #2c536c;
    
}


.dwinput::before {
    font-family: "fontAwesome";
    content: "\f007";
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}

